@{
    ViewBag.Title = "Contact";
}
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<script>
    $(document).on("mousemove", function (event) {
        $("#log").text("pageX: " + event.pageX + ", pageY: " + event.pageY);
    });
</script>

 

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div id="log" ></div>


 